section {
  padding: 50px
}
@media (max-width: 767px) {
  section {
    padding: 15px;
  }
}

section div.container-fluid {
  max-width: 650px;
}

section:nth-child(2n+1) {
  background-color: rgba(0,0,0,0.05);
}
