* {
  color: rgb(70, 70, 70);
  font-family: 'Open Sans', Helvetica, sans-serif;/*'Source Sans Pro', sans-serif;*/
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: 'Linden Hill', serif;
  font-style:italic;
  font-weight: normal;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0; padding: 0;
}

html {
  background: url('../images/bg_stepBw.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-size: 13px;
}

.center {
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: left;
  width: 600px;
}

.content {
  background: #fff;
  margin: 0;
  padding: 50px;
  width: 500px;
}

.header {
  background: #333;
  margin: 0;
  padding: 130px 50px 100px 50px;
  width: 500px;
}
.header h1 {
  color: #fff;
  text-shadow: 0 1px 0 #aaa, 0 2px 0 #999, 0 3px 0 #888;
 /* color: #e37513;
  text-shadow: 0 1px 0 #bb6110, 0 2px 0 #b45d10, 0 3px 0 #a7560e;*/
  font-size: 72px;
  line-height: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
.header p {
  margin-top: 30px;
}

.headerSmall {
  background: #333;
  display: block;
  margin: 0;
  padding: 40px 50px 20px 50px;
  width: 500px;
}
.headerSmall h1 {
  color: #fff;
  float: left;
  font-size: 36px;
  line-height: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  /*text-shadow: 0 1px 0 #bb6110, 0 2px 0 #b45d10, 0 3px 0 #a7560e;*/
}

.navbar {
  margin: 30px 0 15px 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.navbar ul li {
  display: inline;
  padding: 0 15px;
}

.navbar ul li a {
  color: #fff;
  font-family: 'Linden Hill', serif;
  font-size: 32px;
  font-style:italic;
  padding-bottom: -100px !important;
  position: relative;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #fff;
}
.navbar ul li a::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom:10px;
    border-bottom: 1px solid #fff;
}
.navbar ul li a:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom:10px;
    border-bottom: 1px dashed #fff;
}


.navbarSmall {
  float: right;
  margin: -12px 0 0 0;
}
.navbarSmall ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.navbarSmall ul li {
  display: inline;
  padding: 0 15px;
}

.navbarSmall ul li a {
  color: #fff;
  font-family: 'Linden Hill', serif;
  font-size: 24px;
  font-style:italic;
  padding-bottom: -100px !important;
  position: relative;
  text-decoration: none;
}
.navbarSmall ul li a:hover {
  color: #fff;
}
.smallCurrent::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom:6px;
    border-bottom: 1px solid #fff;
}
.navbarSmall ul li a:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom:6px;
    border-bottom: 1px dashed #fff;
}
