@charset "UTF-8";
.contact-blurb {
  background-color: #1da1f2;
  box-shadow: 5px 5px 0px 0px black;
  grid-column: 3/9;
  grid-row: 2;
  padding: 1em; }

.landing {
  padding-top: 6em; }

.landing-intro {
  grid-column: 2/11;
  grid-row: 2/6; }

.landing-splash {
  padding: 1em; }

.landing-splash-left {
  border: 1px solid orange;
  box-shadow: 5px 5px 0px orange;
  grid-column: 2/9; }

.landing-splash-right {
  border: 1px solid gray;
  box-shadow: -5px 5px 0px gray;
  grid-column: 4/11; }

@media (max-width: 767px) {
  .nav-header {
    grid-column: 2/12;
    grid-row: 1; }

  .nav-header ul li {
    display: inline-block;
    margin-left: 1em; }

  .nav-header ul li:first-child {
    margin-left: 0em; }

  .landing-intro {
    grid-column: 2/12;
    grid-row: 2/6; }

  .landing-splash ul {
    margin-bottom: 1.4em;
    padding-left: 1em; }

  .landing-splash-left {
    grid-column: 2/12; }

  .landing-splash-right {
    box-shadow: 5px 5px 0px gray;
    grid-column: 2/12; }

  .nav-header ul li a:before {
    left: -0.75em !important;
    position: absolute; }

  @keyframes bounce {
    0%, 100% {
      opacity: 0.75;
      transform: translate(0em, 0); }
    50% {
      opacity: 1.0;
      transform: translate(0.05em, 0); } } }
.projects {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  grid-column: 2/12; }

.projects h1 {
  font-variant-caps: small-caps;
  font-size: 2em;
  letter-spacing: 1px; }

.projects h2 {
  background: #eee;
  border-top: 1px solid #ccc;
  padding: 1em 0; }

.projects h2 mark {
  background: white;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 0.25em 0.25em 0.25em 0; }

.projects-card {
  border: 1px solid #eee;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;
  margin-bottom: 2em;
  width: 100%; }

.projects-card figure {
  background: #eee;
  border-right: 1px solid #eee;
  grid-column: 1;
  grid-row: 1/4;
  margin: 0;
  padding: 0; }

.projects-card figure img {
  background: white; }

.projects-card figure, .projects-card figure img {
  width: 150px; }

.projects-card p {
  margin-bottom: 0; }

.projects-card-header {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  grid-column: 2;
  grid-row: 1;
  padding: 0.5em 0; }

.projects-card-content {
  grid-column: 2;
  grid-row: 2; }

.projects-card-footer {
  grid-column: 2;
  grid-row: 3;
  padding-bottom: 1em; }

.skillBadge {
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  margin: 2px 0;
  padding: 0px 4px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.badgeDev {
  background: rgba(154, 173, 236, 0.75); }

.badgeTech {
  background: rgba(122, 220, 148, 0.75); }

.badgeEval {
  background: rgba(195, 155, 224, 0.75); }

@media (max-width: 600px) {
  .projects-card {
    display: block; }

  .projects-card figure {
    border-right: none;
    width: 100%; }

  .projects-card-content, .projects-card-footer, .projects-card-header {
    padding: 0.5em; } }
.resume-section {
  border-bottom: 1px solid #ccc;
  grid-column: 2/11; }

.resume-section h2, .resume-section h3 {
  margin: 0 auto 0; }

.resume-section h2 {
  border-bottom: 1px dotted gray;
  margin-bottom: 0.5em; }

.resume-section ul {
  margin-top: 0; }

.resume-section .publicationList {
  counter-reset: item 10;
  list-style: none;
  margin: 0;
  padding: 0; }

.resume-section .publicationList li {
  counter-increment: item -1;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  position: relative; }

.resume-section .publicationList li:after {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  top: 0; }

@media (max-width: 767px) {
  .resume-section {
    grid-column: 2/12; } }
@media (max-width: 600px) {
  .resume-section .callout ul {
    padding-left: 0; } }
.resume-section .callout {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-top-width: 10px;
  padding: 1em;
  margin-bottom: 1em; }

.resume-section .callout ul {
  margin-top: 1em; }

.resume-section .callout ul li {
  margin-bottom: 0.25em; }

.resume-section .callout ul li:last-child {
  margin-bottom: 0; }

.resume-section .audibleCallout {
  border-color: #f7991c; }

.resume-section .brownCallout {
  border-color: #cc0000; }

.resume-section .googleCallout {
  border-color: #4285f4; }

.resume-section .role-description {
  margin: 0;
  font-style: italic; }

.resume-section .cardlist {
  margin: 0 auto;
  padding: 0; }

.resume-section .cardlist li {
  background: red;
  display: inline-block;
  margin: 15px 0;
  vertical-align: top;
  width: 100%; }

.resume-section .projectList dt {
  font-weight: bold;
  margin-bottom: 0.5em; }

.resume-section .projectList dt:not(:first-child) {
  margin-top: 1.5em; }

.resume-section .projectList dd {
  margin-bottom: 0.5em;
  margin-left: 1em; }

body {
  margin: 0 auto; }

p, li {
  font-size: 1em;
  line-height: 1.4em; }

p:last-child, li:last-child {
  margin-bottom: 0; }

p {
  margin: 0 0 1.4em 0; }

.grid {
  display: grid;
  font-family: sans-serif;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2em;
  margin: 0 auto;
  max-width: 800px; }

footer {
  background: #333;
  grid-column: 1/13; }

ul.unstyled {
  list-style: none; }

ul.left-flush {
  padding-left: 0; }

.divider-crossed {
  grid-column: 2/11;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) calc(50% - 0.8px), black 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%), linear-gradient(to top right, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) calc(50% - 0.8px), black 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 14px;
  background-size: 14px 14px; }

.divider-dashed {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  grid-column: 2/11; }

.nav-header {
  grid-column: 2/5;
  grid-row: 1/6; }

.nav-header ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav-header ul li {
  margin-bottom: 1em;
  position: relative; }

.nav-header ul li a {
  color: black;
  text-decoration: none; }

.nav-header ul li a:before {
  content: '❭';
  display: none;
  position: absolute;
  left: -1.5em;
  top: 0; }

.nav-header ul li a:hover {
  animation: navColoration 0.1s forwards; }

.nav-header ul li a:hover:before {
  animation: bounce 2s infinite;
  display: block; }

.nav-header ul li:last-child {
  margin-bottom: 0em; }

.nav-header {
  grid-column: 2/11;
  grid-row: 1; }

.nav-header-horizontal ul li {
  display: inline-block;
  margin-left: 2.5em; }

.nav-header-horizontal ul li:first-child {
  margin-left: 0; }

@keyframes bounce {
  0%, 100% {
    opacity: 0.75;
    transform: translate(0em, 0); }
  50% {
    opacity: 1.0;
    transform: translate(0.5em, 0); } }
@keyframes navColoration {
  0% {
    color: black; }
  100% {
    color: orange; } }
@media (max-width: 767px) {
  .divider-dashed {
    grid-column: 2/12 !important; } }
@media (max-width: 600px) {
  .grid {
    grid-column-gap: 0.5em; }

  .nav-header-horizontal ul li {
    margin-left: 0.5em; } }

/*# sourceMappingURL=main.css.map */
