.resume-section .cardlist {
  margin: 0 auto;
  padding: 0;
}

.resume-section .cardlist li {
  background: red;
  // border-radius: 10px;
  // box-shadow: 2px 2px 0px 0px rgb(100,100,100), 3px 3px 3px 3px rgba(0,0,0,0.1);
  display: inline-block;
  // height: 200px;
  margin: 15px 0;
  vertical-align: top;
  width: 100%;
}

.resume-section .projectList dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.resume-section .projectList dt:not(:first-child) {
  margin-top: 1.5em;
}
.resume-section .projectList dd {
  margin-bottom: 0.5em;
  margin-left: 1em;
}
