@import "../global.scss";

.resume-section {
  border-bottom: 1px solid #ccc;
  grid-column: 2/11;
}

.resume-section h2, .resume-section h3 {
  margin: 0 auto 0;
}
.resume-section h2 {
  border-bottom: 1px dotted gray;
  margin-bottom: 0.5em;
}
.resume-section ul {
  margin-top: 0;
}

.resume-section .publicationList {
  counter-reset:item 10;
  list-style :none;
  margin: 0;
  padding: 0;
}

.resume-section .publicationList li {
  counter-increment:item -1;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  position: relative;
}

.resume-section .publicationList li:after {
  content: counter(item)'.';
  position: absolute;
  left: 0;
  top: 0;
}

@media #{$maxGridWidthMedia} {
  .resume-section {
    grid-column: 2/12;
  }
}

@media #{$mobile} {
  .resume-section .callout ul {
    padding-left: 0;
  }
}

@import "workCards.scss";
@import "projectCards2.scss";
